{% extends 'MawPortalBundle::base.html.twig' %}

{% block mainportal %}
    <div class="exception_error">
        <h1> Co się stało ? </h1>

        <h2> Błąd 404 - nie można znaleźć strony.</h2>

        <h3>Przykro nam, ale to czego szukasz nie znajduję sie na tej stronie. Przejdź na <a href="{{ path("maw_news_news_index") }}">główną stronę</a>.</h3>
        <p>Powodem tego komunikatu (błąd 404) może być zarówno usunięcie tej strony przez nas, jak i błąd przy wpisywaniu (literówka) lub przeklejaniu (np. niepełny adres) adresu URL strony przez użytkownika.</p>

        <h3>Co w takiej sytaucji mam zrobić ?</h3>

        <p>Zachęcamy do ponownego sprawdzenia wpisanego adresu URL, wpisania poprawnego adresu lub w ostateczności prosimy o kontakt mailowy z administracją. </p>
    </div>
{% endblock mainportal %}