<div class="list_comment">
{% if items|length > 0 %}
    {% for post in items %}
        <div class="item">
            <div class="left">
                <img src="{{ asset('bundles/mawportal/images/gosc.png') }}" />
            </div>
            <div class="right">
                <div class="top">
                    <div class="author">
                        {% if post.user %}
                            {{ post.user.username }}
                        {% else %}
                            {{ post.author }}
                        {% endif %}
                    </div>
                    <div class="date">{{ post.created|date('d.m.Y H:i') }} </div>
                </div>
                <div class="bottom">
                    {{ post.content }}
                </div>
            </div>
        </div>
    {%  endfor %}
{% else %}
    <div class="without_comment">Obecnie brak komentarzy.</div>
{% endif %}
</div>