<div class="rsrodkowa">
    <hr />
    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
        {% if error %}
            <div class="alert-error">Błąd logowania. Zaloguj się ponownie.</div>
        {% endif %}
        <h1> Zaloguj się!</h1>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label id="register_username">
            <span class="krotki">Login:</span>
            <input type="text" class="temat" id="username" name="_username" value="{{ last_username }}" required="required" />
        </label>

        <label id="register_username">
            <span class="krotki">Hasło:</span>
            <input class="temat" type="password" id="password" name="_password" required="required" />
        </label>

        <label>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </label>

        <label>
            <a href="{{ path("fos_user_resetting_request") }}"> Zapomniałeś hasła? </a>
        </label>

        <label>
            <a href="{{ path("improve_registration_register") }}"> Załóż konto </a>
        </label>
    </form>
</div>