<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Portal dla kobiet i mężczyzn </title>
    <meta name="Keywords" content="man and woman"/>
    <meta name="description" content="man and woman" />
    <meta name="robots" content="NOINDEX, NOFOLLOW" />
    <meta name="author" content="Man&amp;Woman" />
    <link rel="shortcut icon" href="{{ asset('bundles/mawportal/images/favicon.png') }}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('bundles/mawportal/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mawportal/css/style.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/mawportal/js/logowanie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mawportal/js/register.js') }}"></script>
</head>
<body>
<div class="bar">
    <div class="bar_left"> </div>
    <div class="bar_right"> </div>
</div>
<div class="header">
    {% include "MawPortalBundle:Main:header.html.twig" %}
</div>
<div class="container_main">
    {% include "MawPortalBundle:Main:successFlash.html.twig" %}
    {% include "MawPortalBundle:Main:errorFlash.html.twig" %}
    {% block mainportal %}{% endblock mainportal %}
</div>
<div id="footer">
    {% include "MawPortalBundle:Main:footer.html.twig" %}
</div>
<div id="podstopka">
    man&amp;woman 2014
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59972634-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>