{% extends "ImproveShopBundle::shop.html.twig" %}

{% block main_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        <p><a href="{{ path('improve_shop_products_mainpage') }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>
    {% endif %}
{% endblock main_content %}
