{% extends "ImproveShopBundle::shop.html.twig" %}

{% block main_content %}
<div class="left-register">
    <form {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="registration-form-errors">
            {{ form_errors(form) }}
        </div>
        <div class="registration-form-elem">
            <div class="form-elem-label">
                {{ form_label(form.email) }}
            </div>
            <div class="form-elem-content">
                {{ form_widget(form.email) }}
            </div>
            <div class="form-elem-validation">
                <div class="icon-ok"></div>
                <div class="icon-remove"></div>
            </div>
            <div class="form-elem-errors">
                {{ form_errors(form.email) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="registration-form-elem buttons-block">
            <div class="form-elem-label">
            </div>
            <div class="form-elem-content">
                <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </form>
</div>
{% endblock main_content %}
