<div class="rsrodkowa">
    <hr />
    <form id="register_form" data-path="{{path('fos_user_registration_check')}}" action="{{ path('improve_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal" novalidate>
        <h1> Zarejestruj się!</h1>


        <label id="register_username">
            <div class='error_form'>{{ form_errors(form.username) }}</div>
            <span class="krotki">Login:</span>
            {{ form_widget(form.username, {'attr': {'class': 'temat'}}) }}
        </label>

        <label id="register_email">
            <div class='error_form'>{{ form_errors(form.email) }}</div>
            <span class="krotki">E-mail: </span>
            {{ form_widget(form.email, {'attr': {'class': 'temat'}}) }}
        </label>

        <label>
            <div class='error_form'>{{ form_errors(form.plainPassword.first) }}</div>
            <span class="krotki">Hasło:</span>
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'temat'}}) }}
        </label>
        <label>
            <div class='error_form'>{{ form_errors(form.plainPassword.second) }}</div>
            <span>Powtórz hasło:</span>
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'temat'}}) }}
        </label>

        <label id="captcha">
            <p class="captcha_title">Przepisz treść z obrazka:</p>
            {% if form.captcha.vars.errors | length > 0 %}
                <ul>
                    <li>Wpisz poprawny kod z obrazka</li>
                </ul>
            {% endif %}
            <div class="captcha">
                {{ form_widget(form.captcha, {'attr': {'class': 'temat_captcha'}}) }}
            </div>
        </label>
        <div class="checkbox_input" id="regulation">
            <div class='error_form'></div>
            <div class="checkbox_button">{{ form_widget(form.agreeRegulation, {'attr': {'class': 'temat_checkbox'}}) }}</div>
            <div class="checkbox_text">Oświadczam, że zapoznałem się z regulaminem emaw.pl i akceptuję wszystkie jego postanowienia.</div>
        </div>

        <div class="checkbox_input">
            <div class="checkbox_button">{{ form_widget(form.newsletter, {'attr': {'class': 'temat_checkbox'}}) }}</div>
            <div class="checkbox_text">Wyrażam zgodę na otrzymywanie informacji handlowej drogą elektroniczną z portalu emaw.pl</div>
        </div>
        <label>
            <input type="submit" value="" class="submit" id="nazwa" />
        </label>
    </form>
</div>