<div class="komentarz">
    <form id="comment_form" action="{{ path('maw_message_board_addpost', { 'id': article.board.id }) }}" {{ form_enctype(form) }} method="POST" novalidate>
        <label>Dodaj swój komentarz:</label>
        <div class='error_form'>{{ form_errors(form.content) }}</div>
        {{ form_widget(form.content, {'attr': {'class': 'kom'}}) }}

        {% if app.user %}
            <div>
                <div class="send"><input type="submit" class="button" name="submit" value="" /> </div>
            </div>
        {%  else %}
            <div>
                <div class="send"><input type="submit" class="button" name="submit" value="" /> </div>
                <div class="pseudo">{{ form_widget(form.author, {'attr': {'class': 'pseudonim'}}) }} </div>
                <div class="title">Pseudonim: </div>
            </div>
        {%  endif %}
        {{ form_row(form._token) }}
    </form>
</div>