{% extends 'MawPortalBundle::base.html.twig' %}

{% block mainportal %}
    <div id="main_left">
        {% include 'MawNewsBundle:News:main_page_left_menu.html.twig' %}
    </div>
    <div id="main_right">
        {% include 'MawNewsBundle:News:main_page_right_menu.html.twig' %}
    </div>
{% endblock mainportal %}