<div id="right">
    {% for womanArticle in womanArticles %}
    <div class="item_right">
        <hr />
        <div class="naglowek">
            <a href="{{ path('maw_news_news_newsview', {'slug': womanArticle.slug}) }}">{{ womanArticle.title }}</a>
        </div>
        <div class="data">
            {{ womanArticle.publishDate|date('d-m-Y H:i') }}
        </div>
        <div class="photo">
            <a href="{{ path('maw_news_news_newsview', {'slug': womanArticle.slug}) }}">
                <img src="{% if womanArticle.excerptMedia %}{% path womanArticle.excerptMedia, 'list' %}{% endif %}" class="news-image hidden-sm" title="{{womanArticle.title}}" alt="{{womanArticle.title}}">
            </a>
        </div>
        <div class="podpis">
            {{ womanArticle.excerpt|raw }}
        </div>
        <div class="podzdjeciem_kobieta">
            <div class="linki">
                <div class="read_more"><a href="{{ path('maw_news_news_newsview', {'slug': womanArticle.slug}) }}">Czytaj więcej>> </a></div>
                <div class="comment"><a href="{{ path('maw_news_news_newsview', {'slug': womanArticle.slug}) }}">Komentuj>> </a></div>
                <div class="category"><a href="{{ path('maw_news_news_newsview', {'slug': womanArticle.slug}) }}" class="bialy">{{ womanArticle.tags[0]|upper }}</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>