<div id="left">
    {% for manArticle in manArticles %}
    <div class="item_left">
        <hr />
        <div class="naglowek">
            <a href="{{ path('maw_news_news_newsview', {'slug': manArticle.slug}) }}">{{ manArticle.title }}</a>
        </div>
        <div class="data">
            {{ manArticle.publishDate|date('d-m-Y H:i') }}
        </div>
        <div class="photo">
            <a href="{{ path('maw_news_news_newsview', {'slug': manArticle.slug}) }}">
                <img src="{% if manArticle.excerptMedia %}{% path manArticle.excerptMedia, 'list' %}{% endif %}" class="news-image hidden-sm" title="{{manArticle.title}}" alt="{{manArticle.title}}">
            </a>
        </div>
        <div class="podpis">
            {{ manArticle.excerpt|raw }}
        </div>
        <div class="podzdjeciem_facet">
            <div class="linki">
                <div class="category"><a href="{{ path('maw_news_news_newsview', {'slug': manArticle.slug}) }}" class="bialy">{{ manArticle.tags[0]|upper }}</a></div>
                <div class="comment"><a href="{{ path('maw_news_news_newsview', {'slug': manArticle.slug}) }}">Komentuj>> </a></div>
                <div class="read_more"><a href="{{ path('maw_news_news_newsview', {'slug': manArticle.slug}) }}">Czytaj więcej>> </a></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>