<div class="rsrodkowa">
    <hr class="srrodkowa"/>

    <div id="srnaglowek">
        {{ article.title }}
    </div>

    <div id="srdata">
        {{ article.publishDate|date('d-m-Y H:i') }}
    </div>

    <div id="srzdjecie">
        <img src="{% if article.excerptMedia %}{% path article.excerptMedia, 'one' %}{% endif %}" class="news-image hidden-sm" title="{{article.title}}" alt="{{article.title}}">
    </div>

    <div id="sr1podpis">
        {{ article.content|raw }}
    </div>

    {% include 'MawNewsBundle:News:addComment.html.twig' %}
    {% include 'MawNewsBundle:News:listComment.html.twig' %}
</div>