{% if countArticles > 0 %}
    {% for article in articles %}
        <div class="rsrodkowa">
            <hr class="srrodkowa"/>

            <div id="srnaglowek">
                <a href="{{ path('maw_news_news_newsview', {'slug': article.slug}) }}">{{ article.title }}</a>
            </div>

            <div id="srdata">
                {{ article.publishDate|date('d-m-Y H:i') }}
            </div>

            <div id="srzdjecie">
                <a href="{{ path('maw_news_news_newsview', {'slug': article.slug}) }}">
                    <img src="{% if article.excerptMedia %}{% path article.excerptMedia, 'one' %}{% endif %}" class="news-image hidden-sm" title="{{article.title}}" alt="{{article.title}}">
                </a>
            </div>

            <div id="sr1podpis">
                {{ article.excerpt|raw }}
            </div>
            <br>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% else %}
    <div class="rsrodkowa">
        <hr class="srrodkowa"/>
        <div class="empty_value">
            Obecnie brak newsów w tej kategorii.
        </div>
    </div>
{% endif %}