{% extends "MawPortalBundle::base.html.twig" %}

{% block mainportal %}
    <div class="three_column_left">
        <div id="slewa">
            {{ sonata_block_render({ "type": "maw.block.tree_column_list_news", 'settings': {"category": "facet", 'limit': 5 } }) }}
        </div>
    </div>
    <div class="three_column_center">
        {{ include('MawPortalBundle:Main:contact_content.html.twig') }}
    </div>
    <div class="three_column_right">
        <div id="sprawa">
            {{ sonata_block_render({ "type": "maw.block.tree_column_list_news", 'settings': {"category": "kobieta", 'limit': 5 } }) }}
        </div>
    </div>
{% endblock mainportal %}
