<div class="rsrodkowa">
    <hr>
    <h1> Kontakt </h1>
    <div class="regulations">
        <p> Jeżeli chcesz nawiązać współprace z Man&Woman prosimy o kontakt na adres email:  </p><br>
        <p class="email"> email@email.pl</p>
    </div>
</div>