<div class="rsrodkowa">
    <hr>
    <h1> Współpraca </h1>
    <div class="regulations">
        <p>Poszukujemy kreatywnych i pełnych pomysłów ludzi, którzy chcą się rozwijać
           i zdobywać doświadczenie przy tworzeniu nowego portalu dla kobiet i mężczyzn. </p><br>
        <p>Poszukujemy redaktorów, których zadaniem będzie tworzeniem treści oraz wyszukiwanie
           ciekawych informacji interesujących zarówno kobiety jak i mężczyzn </p>
        <p>Jeżeli jesteś zainteresowany prześlij nam informacje na email:</p>
        <p class="email"> email@email.pl</p>
    </div>
</div>