<div id="stopka">
    <div class="logostopka">
        <a class="footer_logo" href="{{ path("maw_news_news_index") }}">
            <img alt="Logo Man&amp;Woman" src="{{ asset('bundles/mawportal/images/logostopka.png') }}" class="imglogostopka" />
        </a>
    </div>
    <div id="linkistopka">
        <a target="_blank" href="{{ path("maw_portal_main_regulations") }}"> Regulamin </a>
        <a target="_blank" href="{{ path("maw_portal_main_policy") }}"> Polityka prywatności </a>
        <a target="_blank" href="{{ path("maw_portal_main_cooperate") }}"> Kariera </a>
        <a target="_blank" href="{{ path("maw_portal_main_contact") }}"> Kontakt </a>
    </div>
    <div id="manstopka">
        <img alt="Man&amp;Woman" src="{{ asset('bundles/mawportal/images/manstopka.png') }}" class="img_footer" />
        <p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'sport' }) }}" > Sport </a></p>
        <p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'kobiety' }) }}"> Kobiety </a></p>
        <!--<p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'seks' }) }}">  Sex </a></p>
        <p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'samochody' }) }}"> Samochody </a></p>-->
    </div>
    <div id="womanstopka">
        <img alt="Man&amp;Woman" src="{{ asset('bundles/mawportal/images/womanstopka.png') }}" class="img_footer" />
        <p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'plotki' }) }}" > Plotki </a></p>
        <p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'zycie-gwiazd' }) }}"> Życie gwiazd </a></p>
        <!--<p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'seks' }) }}">  Sex </a></p>
        <p><a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'uroda' }) }}"> Uroda  </a></p>-->
    </div>
</div>