<div class="header_center">
    <div class="header_left">
        <div class="own_subject">
            <div class="button">
                <a href="#"> </a>
            </div>
        </div>
        <div class="menu_left">
            <div id="man">
                {% include "MawPortalBundle:Main:menu_man_header.html.twig" %}
            </div>
        </div>
    </div>
    <div class="header_logo">
        <a href="{{ path("maw_news_news_index") }}">  </a>
    </div>
    <div class="header_right">
        <div class="social_media">
            {% include "MawPortalBundle:Main:login_box.html.twig" %}
        </div>
        <div class="menu_right">
            <div id="woman">
                {% include "MawPortalBundle:Main:menu_woman_header.html.twig" %}
            </div>
        </div>
    </div>
</div>