<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Content-Language" content="pl" />
      <link href="style.css" rel="stylesheet" type="text/css"/>
      
      {% stylesheets 'bundles/mawportal/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
      
      <meta name="Description" content="man&woman" />
      <meta name="Keywords" content="" />
      <meta name="Author" content="" />
      <link rel="Shortcut icon" href="img/favicon.gif" />
      <link rel="Stylesheet" type="text/css" href="style.css" />
      <title>man&woman</title>
   </head>
   <body>
      <div id="top">
         <div id="head">
            <!-- pasek --> 
         </div>
         <div id="head2">
            <div id="head2_a">
               <div id="box1">
                  <input type="text" value="Szukaj..." />    
               </div>
               <div id="box2">
                  <a href="    ">
                     <div id="txt_head2_a">
                        Zaproponuj własny temat
                     </div>
                     <div id="img_head2_a">
                        <img src="{{  asset("img/yellow_button.png") }}">
                     </div>
                  </a>
               </div>
            </div>
            <div id="head2_b">
               <div id="box3">
                  <a href=""><img src="{{  asset("img/load.png") }}"></a>
                  <a href=""><img src="{{  asset("img/twitter.png") }}"></a>
                  <a href=""><img src="{{  asset("img/facebook.png") }}"></a>
               </div>
               <div id="box4">
                  <input type="text" value="email..." />
               </div>
            </div>
         </div>
         <div id="head3">
            <div id="head3_1">
               <ul>
                  <li><a href="">SPORT</a></li>
                  <li><a href="">KOBIETY</a></li>
                  <li><a href="">SEKS</a></li>
                  <li><a href="">SAMOCHODY</a></li>
                  <li><a href="">HIGIENA</a></li>
               </ul>
            </div>
            <div id="head3_2">
               <ul>
                  <li><a href="">PLOTKI</a></li>
                  <li><a href="">DZIECKO</a></li>
                  <li><a href="">ŻYCIE GWIAZD</a></li>
                  <li><a href="">SEKS</a></li>
                  <li><a href="">URODA</a></li>
                  <li><a href="">MODA</a></li>
               </ul>
            </div>
         </div>
         <div id="main">
            <!-- main -->
            <div id="center">
               <div id="center-left">
                  <img src="{{  asset("img/blueLINE.gif") }}"><br />
                  <p1>Kate Upton w stylu lat 60-tych!</p1>
                  <br />
                  <p2>Niedziela 12.01.2014</p2>
                  <br />
                  <img src="{{  asset("img/picture1.gif") }}"><br />
                  <p3>Kolejna piękna sesja kształtnej modelki.</p3>
                  <br />
                  <div id="box_2">
                     <div id="txt_dol1">
                        <p4>KOBIETY</p4>
                        <a href="   ">CZYTAJ WIĘCEJ >></a> 
                        <a href="   ">KOMENTUJ >></a>
                     </div>
                     <div id="dol1">
                        <img src="{{  asset("img/dol1.gif") }}">
                     </div>
                  </div>
                  <br/>      <!--  -------------------------- -->
                  <img src="{{  asset("img/blueLINE.gif") }}"><br />
                  <p1>Bad Mitterndorf: Kamil Stoch najlepszy z </p1>
                  <p1>Polaków. I wciąż nr 1</p1>
                  <br />
                  <p2>Niedziela 12.01.2014</p2>
                  <br />
                  <img src="{{  asset("img/dol1.gif") }}"><br />
                  <p3>Peter Prevc wygrał niedzielny konkurs lotów...</p3>
                  <br />
                  <div id="box">
                     <div id="txt_dol1">
                        <p4>SPORT</p4>
                        <a href="   ">CZYTAJ WIĘCEJ >></a> 
                        <a href="   ">KOMENTUJ >></a>
                     </div>
                     <div id="dol1">
                        <img src="{{  asset("img/dol1.gif") }}">
                     </div>
                  </div>
                  <br/>      <!--  -------------------------- -->
                  <img src="{{  asset("img/blueLINE.gif") }}"><br />
                  <p1>Niesamowity SUV. Niemcy już się boją.</p1>
                  <br />
                  <p1>Będzie hit!</p1>
                  <br />
                  <p2>Niedziela 12.01.2014</p2>
                  <br />
                  <img src="{{  asset("img/picture3.gif") }}"><br />
                  <p3>Podczas Salonu Samochodowego w Detroit Volvo pokaże </p3>
                  <p3>kocepcyjnego SUV-a...</p3>
                  <div id="box">
                     <div id="txt_dol1">
                        <p4>SPORT</p4>
                        <a href="   ">CZYTAJ WIĘCEJ >></a> 
                        <a href="   ">KOMENTUJ >></a>
                     </div>
                     <div id="dol1">
                        <img src="{{  asset("img/dol1.gif") }}">
                     </div>
                  </div>
                  <!--  -------------------------- -->
               </div>
               <div id="center-right">
                  <img src="{{  asset("img/pinkLINE.gif") }}"><br />
                  <p1>Luke Evans - przystojniejszy od Orlando </p1>
                  <br /> 
                  <p1>Blooma?</p1>
                  <br />
                  <p2>Niedziela 12.01.2014</p2>
                  <br />
                  <img src="{{  asset("img/picture4.gif") }}"><br />
                  <p3>Na jakie grupy można podzielić panie, które udają się do kina na </p3>
                  <p3>kolejną część Hobbita?</p3>
                  <div id="box">
                     <div id="txt_dol2">
                        <a href="   ">CZYTAJ WIĘCEJ >></a> 
                        <a href="   ">KOMENTUJ >></a>
                        <p4>PLOTKI</p4>
                     </div>
                     <div id="dol2">
                        <img src="{{  asset("img/dol2.gif") }}">
                     </div>
                  </div>
                  <br />       <!--  -------------------------- -->
                  <img src="{{  asset("img/pinkLINE.gif") }}"><br />
                  <p1>Scarlett Johansson w stylu starego Hollywood.</p1>
                  <br />
                  <p2>Niedziela 12.01.2014</p2>
                  <br />
                  <img src="{{  asset("img/picture5.gif") }}">
                  <p3>Zaokrąglowa figura, pełne czerwone usta i klasyczna fryzura...</p3>
                  <br />
                  <div id="box">
                     <div id="txt_dol2">
                        <a href="   ">CZYTAJ WIĘCEJ >></a> 
                        <a href="   ">KOMENTUJ >></a>
                        <p4>MODA</p4>
                     </div>
                     <div id="dol2">
                        <img src="{{  asset("img/dol2.gif") }}">
                     </div>
                  </div>
                  <br />       <!--  -------------------------- -->
                  <img src="{{  asset("img/pinkLINE.gif") }}"><br />
                  <p1>Krawczyk:"WALCZĘ O SPOTKANIA Z SYNAMI!"</p1>
                  <br />
                  <p2>Niedziela 12.01.2014</p2>
                  <br />
                  <img src="{{  asset("img/picture6.gif") }}">
                  <p3>Agnieszka Włodarczyk i Mikołaj Krawczyk postanowili przerwać </p3>
                  <p3>milczenie w sprawie ostatnich doniesień na ich temat...</p3>
                  <div id="box">
                     <div id="txt_dol2">
                        <a href="   ">CZYTAJ WIĘCEJ >></a> 
                        <a href="   ">KOMENTUJ >></a>
                        <p4>ŻYCIE GWIAZD</p4>
                     </div>
                     <div id="dol2">
                        <img src="{{  asset("img/dol2.gif") }}img/dol2.gif">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end main -->
         <div id="main_bottom">
            <!-- main_bottom -->
            <div id="mb1">
               <div id="mb1_1">
                  <div id="mb1_1a"><img src="{{  asset("img/logo.png") }}">	</div>
                  <div id="mb1_1b">
                     <a href="">Strona&nbsp;główna</a>        
                     <a href="">Regulamin</a>     
                     <a href="">Polityka&nbsp;prywatności</a> 
                     <a href="">Kontakt</a>
                  </div>
               </div>
               <div id="mb1_2">
                  <img src="{{  asset("img/man.png") }}">
                  <a href="">SPORT</a>
                  <a href="">KOBIETY</a>
                  <a href="">SEKS</a>
                  <a href="">SAMOCHODY</a>
                  <a href="">HIGIENA</a>
               </div>
               <div id="mb1_3">
                  <img src="{{  asset("img/woman.png") }}">
                  <a href="">PLOTKI</a>
                  <a href="">DZIECKO</a>
                  <a href="">ŻYCIE GWIAZD</a>
                  <a href="">SEKS</a>
                  <a href="">URODA</a>
                  <a href="">MODA</a>
               </div>
            </div>
            <div id="mb2">
               man & woman 2013
            </div>
         </div>
         <!-- end main_bottom -->
      </div>
      <!-- end top -->
   </body>
</html>