<a class="facebook" href="https://www.facebook.com/" target="_blank"> </a>
<a class="twitter" href="#"> </a>
<div class="log">

    {% if app.user is null %}
        {% if no_button is not defined %}
            <div id="zaloguj">
                <dl id="menu0">
                    <form action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
                        <dt><a href="javascript:instrukcja">Zaloguj </a></dt>
                        <dd>
                            <div class="logowanie">
                                <label>
                                    <input type="text" id="username" name="_username" placeholder="Login" class="log" required="required" />
                                </label>
                                <label>
                                    <input type="password" id="password" name="_password" class="log" placeholder="Hasło" required="required" />
                                </label>
                                <br/>
                                <div id="zaloguj1">
                                    <input type="submit" id="_submit" class="log" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                                </div>
                                <div id="zz">
                                    <a href="{{ path("fos_user_resetting_request") }}"> Zapomniałeś hasła? </a>
                                </div>

                                <div id="zz1">
                                    <a href="{{ path("improve_registration_register") }}"> Załóż konto </a>
                                </div>
                            </div>
                        </dd>
                     </form>
                </dl>
                <script type="text/javascript">
                    // <![CDATA[
                    new Menu('menu0');
                    // ]]>
                </script>
            </div>
        {% endif %}

    {% else %}
        <div class="button_logout"><a class="logout" href="{{ path("fos_user_security_logout") }}"> wyloguj </a></div>
        <div class="log_info"><p class="logged" style="color:white"> zalogowany jako: <span>{{ app.user.username }}</span></p> </div>
    {% endif %}
</div>