<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'plotki' }) }}" > PLOTKI </a>
<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'zycie-gwiazd' }) }}" > ŻYCIE GWIAZD </a>
<!--<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'seks' }) }}" > SEX </a>
<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'kobieta', 'slugTag': 'uroda' }) }}" > URODA </a>-->