<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'sport' }) }}" > SPORT </a>
<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'kobiety' }) }}" > KOBIETY </a>
<!--<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'seks' }) }}" > SEX </a>
<a href="{{ path('maw_news_news_newslist', {'slugCategory': 'facet', 'slugTag': 'samochody' }) }}" > SAMOCHODY </a>-->