<div class="rsrodkowa">
    <hr>
    <h1> Polityka prywatności </h1>
    <div class="regulations">
        <h2> Pliki cookies </h2>
        <p>"Cookies" to pliki tekstowe zapisane na dysku użytkownika rejestrujące jego aktywność. Ułatwiają poruszanie się po stronie, ponieważ rozpoznają użytkownika i  dopasowują wyświetlane wyniki do jego indywidualnych preferencji. Wyłaczenie obsługi plików "cookies" może spowodować błędnie działanie strony oraz brak możliwości wykonywania pewnych funkcji aplikacji.</p>

        <h2> Sesja - pliki cookie  </h2>
        <p>Przechowujemy informację o ustawieniach użytkownika dotyczące wybranego języka.</p>

        <h2> Usuwanie plików "cookies"  </h2>
        <p>Każdy rodzaj przeglądarki oferuje możliwość usuwania plików cookie. Poniższe linki umożliwiają szczegółowe zapoznanie się z instrukcjami usuwania.</p>
    </div>
</div>