<div class="rsrodkowa">
    <hr>
    <h1> Regulamin </h1>
    <div class="regulations">
        <h2> Cel i przeznaczenie portalu </h2>
        <p>Serwis Man&Woman powstał aby prezentować ciekawe informacje, które interesują zarówno mężczyzn jak i kobiety. Prezentowane treści w serwisie mają charakter informacyjny i nie mają na celu nikogo obrażać. Celem jest dostarczenie narzędzi i treści które mają służyć grupie odbiorców.</p>

        <h2> Użykownik serwisu </h2>
        <div>
            <p>1. Użytkownik serwisu Man&Woman może przeglądać, komentować treści prezentowane przez redaktorów portalu. Użytkownik ma również możliwość rejetracji w serwisie.</p>
            <p>2. Korzystanie z serwisu Man&Woman jest bezpłatne. Treści prezentowane są przez redaktorów pod adresem man-and-woman.pl.</p>
            <p>3. Zamieszczać treści mogą zalogowani i niezalogowani użytkownicy portalu.</p>
            <p>4. Funkcje dla użytkownika zalogowanego i niezalogowanego mogą różnić się od siebie.</p>
            <p>5. Zakazane jest publikowanie przez użytkowników artykułów, które obrażają inne osoby, zawierają niecenzuralne wyrażania lub treści niezgodne z polskim prawem.</p>
            <p>6. Użytkownik serwisu może proponować własne tematy. Do tego celu służy formularz znajdujący się na stronie internetowej http://man-and-woman.pl</p>
        </div>

        <h2> Administatorzy serwisu </h2>
        <div>
            <p>1. Administatorzy serwisu nie ponoszą odpowiedzialności za treści udostępniane przez użytkowników
            portalu.</p>
            <p>2. Administator posiada możliwość usuwania treści które są wulgarne, obrażają godność osobistą
            innych osób lub są niezgodne z polskim prawem. </p>
            <p>3. Administrator systemu posiada możliwość czasowego lub całkowitego zablokowania konta
            użytkownika w przypadku naruszania regulaminu serwisu.</p>
            <p>4. Administratorem serwisu http://man-and-woman.pl jest Man&Woman z siedzibą w .......</p>
            <p>5. Kontakt z administratorem systemu: email@email.pl</p>
        </div>

        <h2> Przetwarzanie danych osobowych </h2>
        <div>
            <p>1. Użytkownicy rejestrując zgadzają się na przetwarzanie danych osobowych przez Man&Woman oraz jego partnerów.</p>
            <p>2. Użytkownicy zgadzają się na otrzymywanie informacji handlowej podczas rejestracji konta w serwisie http://man-and-woman.pl</p>
            <p>3. Dane osobowe użytkowników są chronione i będą udostępniane innym podmiotom.</p>
        </div>

        <h2> Reklamacje i zażalenia </h2>
        <p> Wszystkie zażalenia i reklamacje prosimy składać na adres email@email.pl. Każdą reklamacje będzięmy rozpatrywać indywidualnie w przeciągu 25 dni. </p>
    </div>
</div>