{% for item in items %}
    <div class="three_column_item_left">
        <hr />
        <div id="snaglowek">
            <a href="{{ path('maw_news_news_newsview', {'slug': item.slug}) }}">{{ item.title }}</a>
        </div>
        <div id="sdata">
            {{ item.publishDate|date('d-m-Y H:i') }}
        </div>
        <div id="szdjecie">
            <a href="{{ path('maw_news_news_newsview', {'slug': item.slug}) }}">
                <img src="{% if item.excerptMedia %}{% path item.excerptMedia, 'small' %}{% endif %}" title="{{item.title}}" alt="{{item.title}}">
            </a>
        </div>

        <div id="spodpis">
            {{ item.excerpt|raw }}
        </div>

        <div id="spodzdjeciem">
            <div id="slinki">
                <div class="category"><a href="{{ path('maw_news_news_newsview', {'slug': item.slug}) }}" class="bialy">{{ item.tags[0]|upper }} </a></div>
                <div class="read_more"><a href="{{ path('maw_news_news_newsview', {'slug': item.slug}) }}">Czytaj więcej>> </a></div>
            </div>

        </div>
    </div>
{%  endfor %}