html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    background:url("../images/tlo.jpg") repeat;
	line-height:1 ;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: separate;
border-spacing: 0;
}

@font-face
{
font-family: PTSans;
src:url(../fonts/PT_Sans.ttf);
}

input {
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
box-shadow: inset 0 0 5px rgba(0,0,0,.75);
border: solid 1px #9b9b9b;
background: transparent;
}

#textarea{
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
box-shadow: inset 0 0 5px rgba(0,0,0,.75);
border: solid 1px #9b9b9b;

}

#pasekgora{
float:left;
background-image:url('../images/belka.png');
height: 114px;
padding: 2px 0 0 0;
width:1920px;
clear: both;
z-index: 2;
}

#zaproponujtemat{
float:left;
padding: 5px 0 0 0;
margin:3px 0 0 460px;
background-image:url('../images/orange.png');
border-radius: 5px;
color:#3d3d3d;
width: 169px; 
height: 21px;
font-size:14px;
font-family: PTSans;
text-align: center;
font-weight: bold;
overflow: hidden;
}

#zaproponujtemat a{
color:#3d3d3d;
text-decoration:none;
}

#prawygorny{
float:left;
margin:3px 0 0 525px;
display:block;

}

#zaloguj{
float:right;
background-image:url('../images/orange.png');
border-radius: 5px;
width: 100px;
height: 21px;
padding: 5px 0 0 0;
font-family: PTSans;
font-size: 14px; 
font-weight: bold; 
color: #3d3d3d;
text-align: center;
margin: 3px 15px 0 69px;
}

#zaloguj a{
color:#3d3d3d;
text-decoration:none;
}

#zaloguj1{
float:left;
width: 80px; 
height: 21px;
padding: 0px;
font-family: PTSans;
font-size: 14px; 
font-weight: bold; 
color: #3d3d3d;
text-align: center;
margin: 10px 40px 0 12px;
}

#zaloguj1 input{
float:left;
width: 80px;
background-image:url('../images/orange.png');
border-radius: 5px;
height: 21px;
padding: 0px 0 0 0;
font-family: PTSans;
font-size: 14px;
font-weight: bold; 
color: #3d3d3d;
text-align: center;
border:none;
margin:0;
}

div.logowanie {
position:absolute;
margin: 8px 0 0 -135px;
width:235px;
height:170px;
background:#ffffff;
z-index: 3;
border: 1px solid #aaaaaa;
font-family: PTSans;
}

div.logowanie .log{
background:#fafafa;
padding: 0 10px 0 10px;
margin: 10px 0 0 0;
height:30px;
width:180px;
font-family: PTSans;
font-size:15px;
color:#898989;
font-weight: bold;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.4); 
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.4); 
box-shadow: inset 0 0 5px rgba(0,0,0,.4);
 border: solid 1px #9b9b9b;
}

div.logowanie label{
width:100%;
padding: 5px 5px 0 5px;
}

#zz{
float:left;
width: 140px; 
height: 21px;
padding: 4px 0 0 0;
font-family: PTSans;
font-size: 14px; 
font-weight: bold; 
color: #3d3d3d;
margin: 4px 0 0 13px;
font-family: PTSans;
}

#zz1{
float:left;
width: 100px; 
height: 21px;
padding: 2px 0 0 0;
font-family: PTSans;
font-size: 14px; 
font-weight: bold; 
color: #3d3d3d;
margin: 0 0 0 5px;
font-family: PTSans;
}



#witaj{
float:left;
height: 21px;
display:block;
text-align: center;
color:white;
font-family: PTSans;
padding: 5px 5px 0 5px;
font-size: 14px; 
white-space:nowrap;
}

#spolecznosciowe{
float:left;
width:48px;
height: 24px;
padding: 1px 2px 0 0;
white-space:nowrap;

}

#menu{
position:absolute;
margin:65px 0 0 460px;
background-image:url('../images/menu.png');
height: 43px;
width:1001px;
z-index:-1;
}

#man{
position:absolute;
margin:20px 0 0 20px;
height: 43px;
z-index:1;
}

#man a{
color:white;
font-family: PTSans;
padding: 0 20px 0 15px;
font-size: 14px; 
text-decoration: none;
font-weight: bold;
margin-left:50px;
}

#man a:hover{
background-color:#4babd7;
padding-top: 12px;
padding-bottom: 11px;
}


#woman{
margin:21px 0 0 0px;
z-index:1;
}

#woman a{
color:white;
font-family: PTSans;
padding: 0 15px 0 20px;
font-size: 14px; 
text-decoration: none;
font-weight: bold;
margin-left:60px;
}


#woman a:hover{
background-color:#f25ba9;
padding-top: 12px;
padding-bottom: 11px;
}

#glowna{
width:1000px;
margin:0 0 120px 460px;
clear:both;

}

#glownalewa{
width:500px;
margin:10px 0 20px 0;
}


#glownaprawa{
display:inline;
width:500px;
margin:10px 0 20px 0;
}


#left{
float:left;
padding:0;
overflow:hidden;
background-color:#fff;
margin:20px 0 0px 0;
width:481px;
}

#left hr{
margin: 0 0 0 0;
padding: 2px 0 0 0;
width:100%;
color:#0592d2;
background-color:#0592d2;
}

#right{
float:right;
text-align:left;
padding:0;
margin:20px 0 0px 0;
background-color:#ffffff;
width:481px;
}

#right hr{
margin: 0 0 0 0;
padding: 2px 0 0 0;
width:100%;
color:#ec3995;
background-color:#ec3995;
}


.naglowek{
width:100%;
font-size:24px;
font-family: PTSans;
font-weight: bold;
padding: 5px 0 0 0;
}

.naglowek a{
color:#3d3d3d;
text-decoration:none;
}

.photo{
width:481px;
padding: 5px 0 0 0;
overflow: hidden;
}

.data{
width:450px;
font-size:12px;
font-family: PTSans;
color: #3d3d3d;
padding: 5px 0 0 0;
}

.podpis{
padding: 5px 0 0 0;
width:450px;
font-size:16px;
font-family: PTSans;
color: #343434;
text-align: justify;
width: 100%;
}

.podzdjeciem_facet{
    margin-top:10px;
    padding: 0 0 0 0;
    background-image:url('../images/boxdol.png');
    height:50px;
}

.podzdjeciem_facet .category {
    overflow:hidden;
    margin: 0 0 0 60px;
    text-align:center;
    width: 120px;
    float:left;
}

.podzdjeciem_facet .comment {
    overflow:hidden;
    margin: 0 0 0 60px;
    text-align:left;
    width: 120px;
    float:left;
    height: 25px;
}

.podzdjeciem_facet .read_more {
    overflow:hidden;
    margin: 0;
    text-align:right;
    width: 110px;
    padding: 0 5px 0 0;
    float:right;
    height: 25px;
}

.podzdjeciem_kobieta .category {
    overflow:hidden;
    margin: 0 0 0 5px;
    text-align:center;
    width: 130px;
    float:left;
}

.podzdjeciem_kobieta .comment {
    overflow:hidden;
    margin: 0 0 0 40px;
    text-align:left;
    width: 130px;
    float:left;
    height: 25px;
}

.podzdjeciem_kobieta .read_more {
    overflow:hidden;
    margin: 0;
    text-align:left;
    width: 110px;
    padding: 0 0 0 5px;
    float:left;
    height: 25px;
}

.linki{
padding: 25px 0 0 0px;
height: 25px;
}

.linki a{
font-family: "PTSans";
font-size: 14px;
font-weight: bold; 
color: #000000;
padding: 0;
text-decoration: none;
}

.linki a.bialy{
font-family: "PTSans";
font-size: 14px;
font-weight: bold; 
color: #ffffff;
padding:0;
text-decoration: none;
}

#naglowek1{
width:450px;
font-size:24px;
font-family: PTSans;
font-weight: bold;
padding: 5px 0 0 0;
}

#naglowek1 a{
color:#3d3d3d;
text-decoration:none;
}

#zdjecie1{
width:481px;
height:321px;
padding: 5px 0 0 0;
}

#data1{
width:450px;
font-size:12px;
font-family: PTSans;
color: #3d3d3d;
padding: 5px 0 0 0;
}

#podpis1{
padding: 5px 0 0 0;
width:450px;
font-size:16px;
font-family: PTSans;
color: #343434;
}

.podzdjeciem_kobieta{
margin-top:10px;
padding: 0 0 0 0;
background-image:url('../images/boxwoman.png');
height:50px;
}

#linki1{
float:right;
padding: 25px 110px 0 0;
}

#linki1 a{
font-family: "PTSans";
font-size: 14px;
font-weight: bold; 
color: #000000;
padding: 0 50px 0 0;
text-decoration: none;
}

#linki1 a.bialy{
font-family: "PTSans";
font-size: 14px;
font-weight: bold; 
color: #ffffff;
padding: 0 0 0 30px;
text-decoration: none;
}

#srodek{
width:1000px;
margin:0;
clear:both;
}

#slewa{
float:left;
padding: 5px 0 0 0;
background-color:#ffffff;
margin:40px 0 10px 0;
width:249px;
}

#slewa hr{
margin: 0 0 0 0;
padding: 2px 0 0 0;
width:100%;
color:#0592d2;
background-color:#0592d2;
}

#snaglowek{
width:249px;
font-size:24px;
font-family: PTSans;
font-weight: bold;
text-align: left;
padding: 5px 0 0 0;
}

#snaglowek a{
color:#3d3d3d;
text-decoration:none;
}

#szdjecie{
overflow:hidden;
width:249px;
padding: 5px 0 0 0;
}

#sdata{
width:249px;
font-size:12px;
font-family: PTSans;
color: #3d3d3d;
text-align: left;
padding: 5px 0 0 0;
}

#spodpis{
padding: 5px 0 5px 0;
width:249px;
font-size:16px;
font-family: PTSans;
color: #343434;
text-align: justify;
}

#spodzdjeciem{
margin: 0 0 30px 0;
padding: 0 0 0 0;
background-image:url('../images/spodzdjeciem.png');
height:33px;
}

#slinki{
padding: 13px 0 0 0;
width:249px;
height:33px;
word-wrap: break-word;
overflow:hidden;
}

#slinki a{
font-family: "PTSans";
font-size: 10px;
font-weight: bold; 
color: #000000;
padding: 0 0 0 1px;
text-decoration: none;
}

#slinki a.bialy{
font-family: "PTSans";
font-size: 12px;
font-weight: bold; 
color: #ffffff;
padding:0;
text-decoration: none;
}

div.srodkowa {
float:left;
width:465px;
margin: 37px 0 0 18px;
border: 0px;
background-color: #fafafa;
}
 
div.srodkowa h1{
font-size:24px;
font-family: PTSans;
font-weight: bold;
padding: 5px 0 0 0;
}

div.srodkowa hr{
padding:2px 0 0 0;
background:#2f2f2f;
border-color:#2f2f2f;
}

div.srodkowa label {
display: block;
width:100%;
height:30px;
padding: 10px 0 0 0;
float:left;
}

div.srodkowa label span {
display: block;
color:#2F2F2F;
font-size:12px;
float:left;
width:150px;
padding: 10px 20px 0 0;
}

div.srodkowa .temat {
width:295px;
height: 26px;
background-color: #fafafa; 
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
border: solid 1px #9b9b9b;
}

div.srodkowa .opis {
margin:0 0 10px 0;
width:295px;
background:#fafafa;
overflow:hidden;
height:90px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
border: solid 1px #9b9b9b;
}

#spanobrazek {
float:left;
margin:70px 0 10px 0;
}

div.srodkowa .tekst{
width:295px;
background: #fafafa;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
border: solid 1px #9b9b9b;
}		

div.srodkowa .obrazek{
background:#d2d2d2;
text-align:center;
margin:0 0 0 170px;
width:295px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
border: solid 1px #9b9b9b;
}

div.srodkowa .file{
opacity:0;
}

#pz{
background:url('../images/dodaj.png');
width: 90px;
heiht: 27px;
margin: 0 0 0 170px;
}

div.srodkowa .submit{
float:right;
margin:0 0 0 0;
border:0px;
top:10px;
background:url('../images/wyslij.png');
height:30px;
width:65px;
color:#3d3d3d;
overflow:hidden;
font-family: "PTSans";
font-weight: bold; 
-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
-moz-box-shadow: inset 0 0 0 rgba(0,0,0,0);
box-shadow: inset 0 0 0 rgba(0,0,0,0);
border: none;
}

#sr{
position:absolute;
}

#sprawa{
float:left;
background-color:#ffffff;
padding: 5px 0 0 0;
margin:40px 0 0 0;
width:249px;
}

#sprawa hr{
margin: 0 0 0 0;
padding: 2px 0 0 0;
widht:100%;
color:#ec3995;
background-color:#ec3995;
}

#sppodzdjeciem{
margin: 0 0 30px 0;
padding: 0 0 0 0;
background-image:url('../images/sppodzdjeciem.png');
height:33px;
}

#splinki{
padding: 13px 0 0 0;
width:249px;
height:33px;
word-wrap: break-word;
overflow:hidden;
}

#splinki a{
font-family: "PTSans";
font-weight: bold; 
font-size: 10px;

color: #000000;
padding: 0 1px 0 0;
text-decoration: none;
}

#splinki a.bialy{
font-family: "PTSans";
font-size: 12px;
font-weight: bold; 
color: #ffffff;
padding: 0 0 0 75px;
text-decoration: none;
}

#splinki a.bialys{
font-family: "PTSans";
font-size: 12px;
font-weight: bold; 
color: #ffffff;
padding: 0 30px 0 70px;
text-decoration: none;
}

div.rsrodkowa {
float:left;
width:465px;
margin:0;
border: 0px;
}

div.rsrodkowa hr{
color:#2f2f2f;
background:#2f2f2f;
padding: 2px 0 0 0;
}

div.rsrodkowa h1{
font-size:24px;
font-family: PTSans;
font-weight: bold;
padding: 5px 0 0 0;
}

div.rsrodkowa label {
display: block;
width:100%;
padding: 10px 0 0 0;
float:left;
}

div.rsrodkowa label span {
float:right;
display: block;
color:#2F2F2F;
font-size:12px;
float:left;
width:100px;
padding: 10px 0 0 5px;
font-family: PTSans;
font-weight: bold;
}

div.rsrodkowa label span.krotki {
float:right;
display: block;
color:#2F2F2F;
font-size:12px;
float:left;
width:50px;
padding: 10px 10px 0 45px;
font-family: PTSans;
font-weight: bold;
}

div.rsrodkowa label span.dlugi {
    float:right;
    display: block;
    color:#2F2F2F;
    font-size:12px;
    float:left;
    width:100px;
    padding: 10px 0 0 15px;
    font-family: PTSans;
    font-weight: bold;
}

div.rsrodkowa .temat {
padding:5px 0 5px 15px;
margin:0 0 0 0px;
width:310px;
float:left;
height:22px;
color:#000;
font-family: PTSans;
font-weight: bold;
background-color: #fafafa;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
box-shadow: inset 0 0 5px rgba(0,0,0,.75);
border: solid 1px #9b9b9b;
}

div.rsrodkowa .submit	{
margin:0 0 0 0px;
padding:0 0 0 0;
background:url('../images/zarejestruj.png');
border:0px;
top:10px;
height:35px;
width:138px;
color:#3d3d3d;
overflow:hidden;
-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
-moz-box-shadow: inset 0 0 0 rgba(0,0,0,0);
box-shadow: inset 0 0 0 rgba(0,0,0,0);
border: none;
}

#srrodkowa {
float:left;
width:465px;
margin: 37px 0 0 18px;
border: 0px;
		}

#srrodkowa hr{
color:#37a8db;
height:4px;
background:#37a8db;
}

#srnaglowek{
font-size:24px;
font-family: PTSans;
font-weight: bold;
text-align:left;
color:#3d3d3d;
}

#srnaglowek a{
color:#3d3d3d;
font-size:24px;
text-decoration:none;
}

#srzdjecie{
overflow:hidden;
width:463px;
margin:10px auto;
}

#srdata{
font-size:12px;
font-family: PTSans;
color: #3d3d3d;
text-align:left;
padding: 5px 0 0 0;
}

#srpodpis{
padding: 5px 0 0 0;
width:465px;
font-size:16px;
font-family: PTSans;
color: #343434;
margin:0 0 30px 0;
}

#sr1podpis{
padding: 5px 0 0 0;
font-size:16px;
font-family: PTSans;
color: #343434;
margin:0 0 0px 0;
text-align:left;

}

#sr1podpis p{
    margin-top:11px;
    line-height:1.3;
    text-align:justify;
}

#liczby{
width:465px;
height:26px;
margin: 45px 0 0 0;
border: 0px;
float:left;
overflow:hidden;
}

#liczba1{
display:inline;
height:26px;
float:left;
}

div.komentarz {
height:200px;
margin: 10px 0 0 0;
border: 0px;
}
 
div.komentarz label {
display: block;
font-size:13px;
width:100%;
padding: 10px 0 0 0;
float:left;
}

div.komentarz label span {
display: block;
color:#2F2F2F;
font-size:12px;
float:left;
width:150px;
padding: 10px 20px 5px 0;

}

div.komentarz span.pse {
display: block;
color:#2F2F2F;
font-size:12px;
float:left;
font-family: "PTSans"; 
font-weight:bold;
width:50px;
padding: 8px 15px 5px 180px;


}

div.komentarz label {
text-align:left;
font-family: "PTSans"; 
font-weight:bold;
margin:0 0 5px 0;
}

div.komentarz .pseudonim {
padding:2px 0 0 15px ;
width:140px;
height:27px;
background:#fafafa;
border: 1px solid #afafaf;
color:#343434;
}

div.komentarz .kom {
margin:0 0 10px 0;
width:450px;
padding:5px;
background:#fafafa;
overflow:hidden;
height:90px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
box-shadow: inset 0 0 5px rgba(0,0,0,.75); 
border: solid 1px #9b9b9b;
color:#343434;
}


div.komentarz .button	{
float:right;
margin:0 0 0 0;
background:url('../images/add_comment.png');
border:0px;
top:10px;
height:27px;
width:115px;
color:#3d3d3d;
overflow:hidden;
-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
-moz-box-shadow: inset 0 0 0  rgba(0,0,0,0); 
box-shadow: inset 0 0 0 rgba(0,0,0,0); 
border: none;
}

div.komentarz .title	{
overflow:hidden;
float:right;
width:100px;
font-weight:bold;
font-size:15px;
font-family: "PTSans";
margin-top: 6px;
}

div.komentarz .pseudo	{
overflow:hidden;
width:160px;
float:right;
}

div.komentarz .send	{
overflow:hidden;
float:right;
width:130px;
}

div.komentarz .send input {
overflow:hidden;
cursor: pointer;
}

#komentarze {
display:inline;
width:465px;
height:60px;
margin: 40px 0 0 0;
border: 0px;
}

#lapki{
position:absolute;
display:inline;
width:400px;
height:30px;
margin: 20px 0 0 10px;
border: 0px;
background:#e2e2e2;
font-size:14px;
font-family: PTSans;
padding: 10px 0 0 5px;
}


img.lapka{
padding:0 0 0 175px;
margin: 0 0 0 0 ;
}
img.lapka1{
padding:0 0 0 5px;
margin: 0 0 0 0 ;
}

#komentarze1{
padding:15px 0 0 0;
}

#calosc{
width:100%;
}

#liczba{
float:left;
background-image:url('../images/liczba.png');
text-align:center;
height: 27px;
width: 26px;
font-size: 14px;
font-family: "PTSans"; 
font-weight: bold;
display:inline;
padding: 6px 0 0 0;
margin: 0 5px 0 0;
text-decoration: none;
color:#3c3d3f;
}

#liczba a.tt{
margin: 0 2px 0 0;
}

#liczba:hover{
float:left;
background-image:url('../images/liczbahover.png');
text-align:center;
height: 27px;
width: 26px;
display:inline;
padding: 6px 0 0 0;
margin: 0 5px 0 0;
color:#f6f6f6;
text-decoration: none;
font-family: "PTSans"; 
font-weight: bold;
}

#liczba a{
font-family: PTSans;
text-decoration: none;
color:#3c3d3f;
}

#liczba a:hover{
text-decoration: none;
color:#f6f6f6;
font-family: PTSans;
}

font.lapkagora{
color:#33bb25;
font-size:16px;
font-family: "PTSans"; 
font-weight: bold;
}

font.lapkadol{
color:#e50404;
font-size:16px;
font-family: "PTSans"; 
font-weight: bold;
}

.bar {
    overflow:hidden;
    width:100%;
    height:3px;
}
.bar .bar_left {
    width:50%;
    height:3px;
    background-color: #0592d2;
    float:left;
}
.bar .bar_right {
    width:50%;
    height:3px;
    background-color: #ec3995;
    float:right;
}

.header {
    overflow:hidden;
    width:100%;
    background: url('../images/bg_grey.png') repeat-x;
    height:120px;
}

.header_center {
    overflow:hidden;
    background: url('../images/header_center_2.png') repeat-x;
    width:1000px;
    margin: 0 auto;
    text-align: center;
    height:110px;
}
.header_left {
    overflow:hidden;
    width:407px;
    float:left;
    height:110px;
}

.header_logo {
    overflow:hidden;
    width:180px;
    float:left;
    height:110px;
}

.header_logo a {
    overflow:hidden;
    display: block;
    width:180px;
    height:84px;
    margin:15px 0 0 0;
}

.header_right {
    overflow:hidden;
    width:410px;
    float:right;
    height:110px;
}

.header_right .social_media {
    overflow:hidden;
    width:100%;
    height:55px;
}
.header_right .social_media .facebook {
    overflow:hidden;
    width:25px;
    height:25px;
    float:right;
    margin:2px 4px 0 2px;
}
.header_right .social_media .twitter {
    overflow:hidden;
    width:25px;
    height:25px;
    float:right;
    margin:2px 0px 0 0px;
}

.own_subject {
    overflow:hidden;
    width:100%;
    height:55px;
}

.own_subject .button {
    overflow:hidden;
    width:169px;
    height:28px;
}
.own_subject .button a {
    display: block;
    width:100%;
    height:100%;
}

.log {
    overflow:hidden;
    height:50px;
}

.menu_right {
    overflow:hidden;
    height:49px;
    width:85%;
}

.container_main {
    overflow:hidden;
    margin:0 auto;
    text-align:center;
    width:1000px;
}

#main_left {
    overflow:hidden;
    float:left;
    width:49%;
}

#main_right {
    overflow:hidden;
    float:right;
    width:49%;
}
.item_left {
    overflow:hidden;
    text-align:left;
    margin:25px 0 0 0;
}

.item_right {
    overflow:hidden;
    text-align:left;
    margin:25px 0 0 0;
}

#footer{
float:left;
margin-top: 100px;
width: 100%;
height: 186px; 
background-color: #2f2f2e;

}

#stopka{
margin: auto;
width: 1000px;
height: 186px; 
background-color: #2f2f2e;
}

img.imglogostopka{
float:left;
}

#linkistopka{
padding: 90px 0 0 0;
float:left;
margin: 0 0 0 30px;
}

#linkistopka a {
padding: 0 0 0 15px;
float:left;
}

#stopka a{
font-family: "PTSans"; 
font-size: 16px; 
font-weight: bold;
color: #fff;
text-decoration: none;
}

#stopka a:hover{
font-family: "PTSans"; 
font-size: 16px; 
font-weight: bold;
color: #ffa800;
text-decoration: none;
}

#manstopka{
float:left;
height: 186px;
top:100px;
width:105px;
margin:0 0 0 50px;
line-height: 150%;
text-align: center;
}

#manstopka p{
    overflow:hidden;
    width:100%;
    text-align: center;
}
#manstopka p a {
    margin:0;
    padding:0;
}
#manstopka p a:hover {
    margin:0;
    padding:0;
}


img.img_footer{
margin: 0 0 10px 0;
padding: 45px 0 0 0;
}

#manstopka.a{
padding:0 0 0 0;
font-family: "PTSans"; 
font-size: 14px; 
font-weight: bold;
color: #ffa800;
text-decoration: none;
}

#womanstopka{
float:left;
padding:0 0 0 45px;
width:102px;
line-height: 150%;
text-align:center;
}
#womanstopka p{
    overflow:hidden;
    width:100%;
    text-align: center;
}
#womanstopka p a {
    margin:0;
    padding:0;
}
#womanstopka p a:hover {
    margin:0;
    padding:0;
}

#womanstopka.a{
padding:0 0 0 0;
font-family: "PTSans"; 
font-size: 14px; 
font-weight: bold;
color: #ffa800;
text-decoration: none;
}

#podstopka{
float:left;
clear:both;
display:block;
width: 100%; 
height: 24px; 
background-color: #141414;
text-align:center;
color:#d08a04;
font-family: "PTSans"; 
font-size: 14px; 
font-weight: bold;
padding: 3px 0 0 0;
}

.logged {
    overflow:hidden;
    font-size:13px;
    color:#fff;
    margin:0;
}

.logged span {
    font-weight: bold;
}

.logout {
    overflow: hidden;
    color: #d08a04;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0 20px;
}

.log_info {
    float:right;
    width:140px;
    margin: 1px 0 0 0;
}

.button_logout {
    float:right;
    width:100px;
    font-size:14px;
    font-weight: bold;
    margin: 8px 0 0 0;
}

form {
    margin:0;
}

.three_column_left {
    overflow:hidden;
    float:left;
    width:250px;
}

.three_column_center {
    overflow:hidden;
    width:465px;
    float:left;
    margin: 37px 0 0 18px;
}

.three_column_right {
    overflow:hidden;
    width:250px;
    float:right;
}

.three_column_item_left {
    overflow:hidden;
}

.three_column_item_right {
    overflow:hidden;
}

#slinki .category {
    overflow:hidden;
    float:left;
    width:150px;
}
#slinki .category a {
    overflow:hidden;
    margin:0 0 0 17px;
}


#slinki .read_more {
    overflow:hidden;
    width:95px;
    float:right;
    text-align: right;
}

#slinki .read_more a {
    text-align: right;
    float:right;
}


#splinki .category {
    overflow:hidden;
    float:right;
    width:145px;
}
#splinki .category a {
    overflow:hidden;
    margin:0 12px 0 0px;
    padding:0;
    text-align: left;
}

#splinki .read_more {
    overflow:hidden;
    width:100px;
    float:left;
    text-align: left;
}

#splinki .read_more a {
    text-align: left;
    float:left;
    color:#000;
}

.error_form ul {
    display:block;
    overflow:hidden;
    width:100%;
    height:20px;
}

.error_form ul li {
    display:block;
    overflow:hidden;
    text-align:center;
    width:100%;
    color:red;
    font-size:12px;
    font-weight:bold;
    height:20px;
    margin:5px 0 5px 0;
}

.reset_info {
    overflow: hidden;
    text-align: left;
    color:#3d3d3d;
    margin: 15px 0 5px 0;
    line-height: 1.2;
}

input#reset_username {
    overflow:hidden;
    margin:13px 0 0 0;
}

.button_submit_small {
    background-image: url('../images/orange.png');
    border-radius: 5px;
    width: 100px;
    height: 21px;
    padding: 0px 0 0 0;
    font-family: PTSans;
    font-size: 14px;
    font-weight: bold;
    color: #3d3d3d;
    text-align: center;
    margin: 0;
    border: 0;
}

.logostopka {
    overflow:hidden;
    width:190px;
    float:left;
}

.footer_logo {
    overflow:hidden;
    display:block;
    width:187px;
    height:87px;
    margin:50px 0 0 0;
}

.regulations {
    overflow:hidden;
    text-align:left;
    line-height: 1.5;
    padding:10px 0 0 0;
}

.regulations h2 {
    margin-top:15px;
    overflow:hidden;
    font-weight:bold;
    text-decoration: underline;
}
.email {
    overflow:hidden;
    font-size:18px;
    font-weight:bold;
    margin-top:5px;
    text-align:center;
    margin: 0 auto;
}

.exception_error {
    overflow:hidden;
    height:500px;
}

.exception_error h1 {
    margin-top:40px;
    overflow:hidden;
    color: #088cc8;
    font-size:30px;
    font-weight:bold;
    height:35px;
}

.exception_error h2 {
    margin-top:10px;
    overflow:hidden;
    color: #ec3995;
    font-size:20px;
    font-weight:bold;
    height:25px;
}

.exception_error h3 {
    margin-top:20px;
    overflow:hidden;
    font-weight:bold;
    font-size:17px;
    color:#343434;
    height:25px;
}

.exception_error p {
    margin-top:10px;
    overflow:hidden;
    font-size:17px;
    text-align:left;
    color:#343434;
    line-height: 1.5;
}
.exception_error a {
    overflow:hidden;
    font-size:17px;
    color: #088cc8;
    text-decoration: none;
}

.list_comment {
    overflow:hidden;
}

.list_comment .item {
    text-align:left;
    overflow: hidden;
    width:465px;
    margin: 40px 0 0 0;
    border: 0px;
}

.list_comment .item .left {
    overflow: hidden;
    float:left;
    width:60px;
}

.list_comment .item .right {
    overflow: hidden;
    float:right;
    width:400px;
    margin:0 0 0 0px;
}

.list_comment .item .right .top {
    overflow: hidden;
    width:390px;
    padding: 0px 0px 10px 10px;
}

.list_comment .item .right .bottom {
    overflow:hidden;
    width:385px;
    margin: 0px 0 0 0px;
    border: 0px;
    background:#e2e2e2;
    font-size:15px;
    font-family: PTSans;
    line-height: 1.4;
    padding: 10px;
    color:#343434;
}

.author {
    overflow:hidden;
    width:180px;
    float:left;
    height:20px;
    font-weight:bold;
}

.date {
    overflow:hidden;
    width:190px;
    float:right;
    text-align:right;
    height:20px;
    font-size:12px;
    color:#343434;
}

.empty_value {
    overflow:hidden;
    color:#3d3d3d;
    font-size:24px;
    font-weight: bold;
    height:60px;
}

.previous {
    overflow:hidden;
    background: url("../images/prev_page.png") no-repeat;
    display:block;
    width:111px;
    height:26px;
    color:#d3d3d3;
    text-decoration: none;
}

.next {
    overflow:hidden;
    background: url("../images/next_page.png") no-repeat;
    display:block;
    width:111px;
    height:26px;
    color:#d3d3d3;
    text-decoration: none;
}

.page_item {
    overflow:hidden;
    display:block;
    background: url("../images/kolko.png") no-repeat;
    width:26px;
    height:27px;
    float:left;
    margin-right:5px;
    color:#d3d3d3;
    text-decoration: none;
}

.page_item_current {
    overflow:hidden;
    display:block;
    background: url("../images/kolko_active.png") no-repeat;
    width:26px;
    height:27px;
    float:left;
    margin-right:5px;
    color:#fff;
    text-decoration: none;
}
.page_item_current p {
    overflow:hidden;
    color:#fff;
    margin-top:7px;
    font-size:14px;
}

.page_item p {
    overflow:hidden;
    color:#000;
    margin-top:7px;
    font-size:14px;
}

.pagination_item_left {
    overflow:hidden;
    float:left;
    width:111px;
    margin-right:5px;
}

.pagination_item_center {
    overflow:hidden;
    float:left;
    max-width:240px;
}
.pagination_item_right {
    overflow:hidden;
    float:left;
    width:111px;
}

.without_comment {
    overflow:hidden;
    height:25px;
    font-weight:bold;
    color:#343434;
}

.alert-error {
    overflow:hidden;
    color:red;
    font-weight: bold;
    height:25px;
}

.rsrodkowa a {
    color: #000;
    text-decoration: none;
    font-size:13px;
}