<div class="rsrodkowa">
    <hr>
    <h1> Przypomnienie hasła!</h1>
    <p class="reset_info">
        Jeśli zapomniałeś hasła i nie możesz się zalogować, skorzystaj z poniższego formularza w celu zresetowania hasła. Podaj swój adres email,
        na który zostało założone konto lub nazwę użytkownika, to otrzymasz wiadomość email zawierającą link, dzięki któremu będziesz mógł ustawić swoje nowe hasło.
    </p>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate>
        <label id="register_username">
            <span class="krotki">Email lub login:</span>
            <input type="text" id="reset_username" name="username" class="temat" required="required" />
        </label>

        <div style="clear:both"></div>
        <label>
            <input class="button_submit_small" type="submit" value="Resetuj" />
        </label>
    </form>
</div>