<div class="rsrodkowa">
    <hr>
    <h1>Zmień swoje hasło!</h1>
    <p class="reset_info">
        Wpisz nowe hasło w pierwszym polu. Hasło musi mieć 6 znaków lub więcej.
        Następnie wpisz po raz drugi to samo hasło w drugim polu i kliknij przycisk Resetuj.
    </p>
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset" novalidate>
        <label id="register_username">
            <div class='error_form'>{{ form_errors(form.new.first) }}</div>
            <span class="dlugi">Nowe hasło:</span>
            {{ form_widget(form.new.first, {'attr': {'class': 'temat'}}) }}
        </label>
        <label id="register_username">
            <div class='error_form'>{{ form_errors(form.new.second) }}</div>
            <span class="dlugi">Powtórz hasło:</span>
            {{ form_widget(form.new.second, {'attr': {'class': 'temat'}}) }}
        </label>

        <div style="clear:both"></div>
        {{ form_widget(form._token) }}
        <label>
            <input class="button_submit_small" type="submit" value="Resetuj" />
        </label>
    </form>
</div>