{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">
    <div class="pagination_item_left">
        {% if previous is defined %}
            <a class="previous" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"></a>
        {% else %}
            <a class="previous" href="#"></a>
        {% endif %}
    </div>
    <div class="pagination_item_center">
    {% for page in pagesInRange %}
        {% if page != current %}
            <a class="page_item" href="{{ path(route, query|merge({(pageParameterName): page})) }}"><p>{{ page }}</p></a>
        {% else %}
            <div class="page_item_current"><p>{{ page }}</p></div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="pagination_item_right">
        {% if next is defined %}
            <a class="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"></a>
        {% else %}
            <a class="next" href="#"></a>
        {% endif %}
    </div>
</div>
{% endif %}
